@charset "UTF-8";


/* Media queries para adaptação portátil*/
/* Para dispositivos moveis */

@media  (max-width: 767px){

    header div >  h1{
        opacity: 0;
        visibility: hidden;
    }
    .sidebar{
        display: none;
    }
    .button-mobile{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    ul li a{
        display: none;      
    }

    .main{
        margin-left: 6px;
    }

    .add-links input[type="button"]{
        transition: all 0.3s;

        margin-left: 40%;

    }
    .post-txt p{
        font-size:14px;
        transition: all 0.2s;
    }
}


/*Para dispositivos tablet */
@media (min-width: 767px) and (max-width: 1023px){
   
    .sidebar{
        width: 72px;
    }
    .sidebar a > span{
        width: 50px;
    }

    .sidebar a > span > span{
        opacity: 0;
        visibility: hidden;
    }

    .main{
        transition: margin 0.4s;
        margin-left: 78px;
    }
    .add-links input[type="button"]{
        transition: all 0.3s;
        margin-left: 60%;
    }
}

@media (min-width: 1022px) and (max-width: 1200px){

    .add-links input[type="button"]{
        transition: all 0.3s;
        margin-left: 75%;
    }
}