@charset "UTF-8";

 /*Configurações gerais de estilização*/

*{
    margin: 0px;
    padding: 0px;
    font-family: 'poppins', sans-serif;
}
/*Corpo do site*/
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #1B1C19;
}
/*Config geral para cabeça do site*/
header{
    position: relative;
    width: 100%;
    height: 70px;
    background:#0F1313;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*Transição do texto logo*/
header h1{
    transition: all 0.3s;
}
/*Logo*/
.logo{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 4%;
    width: 20%;
}

/*Tamanho da logo*/
.logo .fa-laptop-code{
    font-size: 35px;
}
/*distancia entre logo e texto logo*/
.logo h1{
    margin-left: 5% ;
}
/*Geral barra de pesquisa do site */
.navbar{
    position: relative;
    width: 70%;
    padding: 5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.busca{
    position: relative;
    width: 70%;
}
/*Configuração input de texto*/
.busca input{
    width: 80%;
    height: 28px;
    border: none;
    border-radius: 20px;
    padding: 1%;
    text-indent: 10px;
    font-size: 18px;
}

#buscaIcon{
    position: relative;
    left: -33px;
    bottom: -5px;
    z-index: 221;
    font-size: 0px;
    cursor: pointer;
    color: rgb(77,77,77);
    
}
/*Configurações ancora de login e saida do site*/
ul {
    width: 27%;
}

ul li{
    display: inline-block;
    margin-left: 4%;
    cursor: pointer;
}

ul li i{
    display: block;
    font-size: 22px

}

ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 2px;

}

/*Barra de navegação lateral do site*/

.sidebar{
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 240px;
    height: 100vh;
    padding: 120px 10px 30px 10px;
    transition: all 0.34s;
    
}

.sidebar a{
    height: 60px;
    background: transparent;
    border: 0;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    cursor: pointer;
    text-align: left;
    padding: 0;
}

.sidebar a > span{
    display: inline-flex;
    align-items: center;
    gap: 12px;
    height: 48px;
    padding: 0px 16px 0px 12px;
    border-radius: 24px;
    line-height: 1;
    transition: all 0.2s;
    
    
}

.sidebar a:hover > span{
    background-color: rgba(255,255,255, 0.08);
}

.sidebar a i {
    position: relative;
    font-size: 32px;
    transition: 0.2s;
}

.sidebar a span{
    font-size: 22px;
}

.sidebar > nav{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

/*Botão para o menu dos dispositivos moveis*/
.button-mobile{
    display: none;
    align-self: flex-start;
    align-items: center;
    margin: 16px;
    background: transparent;
    color: white;
    border: 0;
    cursor: pointer;
}

.button-mobile span{
    font-size: 22px;
    margin-left: 8px;
    cursor: pointer;
}

.button-close span i{
    font-size: 42px;
    

}

.menu-mobile{
    display: none;
}

#menu-mobile a {
    text-decoration: none ;
    color: white;
    font-size: 1.9em;
    margin-top: 2vh;
}

.menu-mobile-active{
    width: 100%;
    height: 100vh;
    background-color: #000;
    z-index: 99;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25vh;
    overflow: hidden;
}

.menu-mobile-active button{
    background: transparent;
    border: 0;
    color: white;
    margin-bottom: 16px;
}

.menu-mobile-active button > span{
    display: inline-flex;
    align-items: center;
}

.mobile-text{
    font-size: 22px;
    margin-left: 8px;
}

/*Configurações da tela principal(texto, perfile posts)*/
main{
    margin: auto;
    text-align: center;
    overflow: hidden;
    margin-top: 20px;
}

main h1{
    color: white;
    padding-bottom: 20px;
}

.post {
    width: 40%;
    background-color: #fff;
    border-radius: 6px;
    padding: 20px;
    color: black;
    margin: 0 auto; /* Isso centraliza o elemento horizontalmente */
}
.user-profile img{
    width: 45px;
    margin-right: 10px;
}

.user-profile {
    display: flex;
    align-items: center;
}

.user-profile p {
    margin-bottom: -5px;
    
}

.user-profile small{
    font-size: 12px;
    margin-left: -32px;
}

.post-txt{
    padding-left: 55px;
    padding-top: 20px;
}

.post-txt textarea{
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    background: transparent;
    resize: none;
}

.add-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    font-size: 13px;
}

.add-links a span{
    width: 20px;

}


