@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: 'poppins', sans-serif;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #1B1C19;
}

header{
    position: relative;
    width: 100%;
    height: 70px;
    background:#0F1313;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1{
    transition: all 0.3s;
}
.logo{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 4%;
    width: 20%;
}
.logo .fa-laptop-code{
    font-size: 35px;
}
.logo h1{
    margin-left: 5% ;

}

.navbar{
    position: relative;
    width: 70%;
    padding: 5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.busca{
    position: relative;
    width: 70%;
    
}
.busca input{
    width: 80%;
    height: 28px;
    border: none;
    border-radius: 20px;
    padding: 1%;
    text-indent: 10px;
    font-size: 18px;
}

#buscaIcon{
    position: relative;
    left: -33px;
    bottom: -5px;
    z-index: 221;
    font-size: 0px;
    cursor: pointer;
    color: rgb(77,77,77);
    
}
ul {
    width: 27%;
}

ul li{
    display: inline-block;
    margin-left: 4%;
    cursor: pointer;
}

ul li i{
    display: block;
    font-size: 22px

}

ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: auto;

}

.sidebar{
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 240px;
    height: 100vh;
    padding: 120px 10px 30px 10px;
    
    transition: all 0.34s;
    
}

.sidebar button{
    height: 60px;
    background: transparent;
    border: 0;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    cursor: pointer;
    text-align: left;
    padding: 0;
}

.sidebar button > span{
    display: inline-flex;
    align-items: center;
    gap: 12px;
    height: 48px;
    padding: 0px 16px 0px 12px;
    border-radius: 24px;
    line-height: 1;
    transition: all 0.2s;
    
    
}

.sidebar button:hover > span{
    background-color: rgba(255,255,255, 0.08);
}

.sidebar button i {
    position: relative;
    font-size: 32px;
    transition: 0.2s;
}

.sidebar button span{
    font-size: 16px;
}

.sidebar > nav{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main{
    margin: auto;
    text-align: center;
    overflow: hidden;
    margin-top: 20px;
}

@media (width < 920px){
    header div > h1{
        opacity: 0;
        visibility: hidden;
    }
    .sidebar{
        width: 72px;
    }
    .sidebar button > span{
        width: 50px;
    }

    .sidebar button > span > span{
        opacity: 0;
        visibility: hidden;
    }

    .main{
        transition: margin 0.4s;
        margin-left: 78px;
    }
}